.header-text-container {
  margin: auto;
}

.header-text {
  position: relative;
  z-index: 0;
  font-size: 14vw;
  font-weight: 600;
}

.header-text:hover {
  animation: showText 1s;
}

.header-text-cover {
  position: relative;
  z-index: 1;
  height: 20vh;
}