.header-container {
  display: flex;

  .header-link {
    font-size: 0.8em;
    margin: 2rem;
    cursor: pointer;
  }

  .header-link {
    text-decoration: none;
  }
}



.underline {
  display: inline-block;
}

.underline::after {
  content: "";
  margin-top: 0.5rem;
  height: 3px;
  border-radius: 5px;
  display: block;
}
