.header-container {
  width: 100vw;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;

  .header-link {
    font-size: 0.8em;
    margin: 2rem;
    cursor: pointer;
  }

  .header-link {
    text-decoration: none;
  }
  
  a.active {
    display: inline-block;
  }
  
  a.active::after {
    content: "";
    margin-top: 0.5rem;
    height: 2px;
    border-radius: 5px;
    display: block;
    color: inherit;
    background: currentColor;
  }
  
}