.experience-wrapper {
  background-color: _palette(pink);

  a.active {
    color: _palette(darkPinkNav);
  }

  a.active::after {
    background: _palette(darkPinkNav);
  }

  .header-text {
    color: #FBE5EA;
  }
}
