.experience-wrapper {
  background-color: _palette(pink);

  .highlighted {
    color: _palette(darkPinkNav);
  }

  .underline::after {
    background: _palette(darkPinkNav);
  }

  .header-text {
    color: #FBE5EA;
  }
}
