.intro-wrapper {
  background-color: _palette(mint);

  .display-name {
    margin: auto;
    font-size: 12vw;
    font-family: _font(sanLouis);
    color: white;
    z-index: 1;
  }

  a.active {
    color: _palette(darkMint);
  }

  a.active::after {
    background: inherit;
  }
}
