@font-face {
  font-family: "Gotham Rounded";
  src: url("./fonts/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "San Louis";
  src: url("./fonts/SanLouis.ttf") format("truetype");
}
